@import url('../../Base.css');

.add-to-cart-fab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: calc(var(--top-bar-height) + 30px);
  right: 20px;
  height: 60px;
  width: 60px;
  background-color: var(--main-theme-dark-gray);
  border-radius: 50%;
}

.add-to-cart-fab:hover {
  background-color: var(--main-theme-gray);
}

.add-to-cart-fab:active {
  background-color: var(--main-theme-light-gray);
}

.add-to-cart-fab > button {
  background: none;
  color: var(--main-theme-white);
}

@media (max-width: 630px) {
  .add-to-cart-fab {
    top: calc(var(--mobile-top-bar-height) + 30px);
  }
}