@import url(../../Base.css);

.arrow-bar {
  width: 100%;
  display: flex;
  background: var(--main-theme-blue);
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  height: var(--bottom-bar-height);
  z-index: 99;
}

.arrow-button, .arrow-button:visited, .arrow-button:active {
  color: var(--main-theme-white);
  cursor: pointer;
  padding: 0px 20px;
  background: none;
}