.list-item-title {
  padding-left: 20px;
  width: 100%;
}

.list-container {
  width: 90%;
}

.list-row {
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 18px;
}

.list-searchbar {
  display: flex;
  position: sticky;
  background: white;
  top: var(--top-bar-height);
  z-index: 2;
  padding: 20px;
  align-items: center;
  border-bottom: solid 1px var(--main-theme-dark-gray);
}

.list-searchbar-span {
  padding-right: 10px;
}

.list-searchbar-label {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.list-searchbar-text-field {
  border: #b9b8b8 solid 1px;
  border-radius: 4px;
  height: 25px;
  outline-style: none;
}

@media (max-width: 800px) {
  .list-searchbar {
    flex-direction: column;
    align-items: normal;
    padding: 10px 0px;
    top: var(--mobile-top-bar-height);
  }

  .list-searchbar-label {
    flex-direction: column;
    align-items: normal;
    padding-bottom: 10px;
  }
}