@import url(../../Base.css);

.title-page {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  width: 100%;
  box-sizing: border-box;
  background: var(--main-theme-blue);
}

.title-page-content {
  padding-left: 5vh;
  max-width: var(--main-content-max-width);
  margin: auto;
  width: 80%;
  text-align: left;
}

.title-page-header {
  display: flex;
  align-items: center;
}

.title-page-main-logo {
  padding-right: 40px;
}

.title-page-nav-button-container {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.nav-button-card.title-page-nav-button {
  font-weight: 600;
  height: 70px;
  box-shadow: none;
  background: none;
  border-radius: 12px;
  width: 240px;
  border: solid 2px var(--main-theme-orange);
  transition: 0.4s ease-in-out;
}

.nav-button-card.title-page-nav-button:hover, .nav-button-card.title-page-nav-button:active {
  background-color: var(--main-theme-orange);
}

.title-page-nav-button-spacer {
  margin: 15px;
}

.title-page-h1 {
  color: var(--main-theme-white);
  max-width: 1300px;
  margin: 0;
}

.title-page-text {
  font-size: 16px;
  text-align: justify;
  font-style: italic;
}

.title-page-hr {
  background-color: var(--main-theme-orange);
  border: none;
  height: 5px;
  width: 100%;
  margin: 30px 0px 20px;
}

.title-page-logo-div {
  display: flex;
  align-items: center;
}

.title-page-logo-div > img {
  max-width: 33%;
  width: 200px;
}

.title-page-link-spacer {
  margin: 15px;
}

@media (max-width: 1000px) {
  .title-page {
    padding-top: 4vh;
  }

  .title-page-main-logo {
    padding-right: 10px;
  }

  .title-page-main-logo > img{
    height: 140px;
  }

  .title-page-h1 {
    max-width: 700px;
    font-size: 24px;
  }

  .title-page-text {
    max-width: 700px;
    font-size: 14px;
    text-align: left;
  }

  .title-page-start-link {
    font-size: 14px;
  }

  .title-page-link-spacer {
    margin: 10px;
  }

  .title-page-content {
    padding: 0 5vh;
    text-align: center;
  }

  .title-page-nav-button-container {
    flex-direction: column;
  }

  .title-page-nav-button {
    height: 44px;
    width: 140px;
    margin: 20px;
  }

  .title-page-nav-button-spacer {
    display: none;
  }
}