@import url(../../Base.css);

.nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.nav-button {
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-radius: 9px;
  background: var(--main-theme-orange);
  transition: 0.4s ease-in-out;
}

.nav-button:hover {
  background-color: var(--main-theme-orange-hover);
  box-shadow: 0 2px 5px 2px rgb(0 0 0 / 26%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.nav-button-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: solid 1px var(--main-theme-light-gray);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: var(--main-theme-white);
}

.nav-button-img {
  display: block;
  width: 200px;
  padding: 20px;
}

.nav-button-text {
  padding: 20px 12px;
  color: var(--main-theme-white);
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.mobile-nav-button-img {
  display: none;
  width: 35%;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--main-theme-orange);
  font-size: 30px;
}

@media (max-width: 1000px) {
  .nav-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .nav-container {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
  }

  .nav-button {
    box-sizing: border-box;
    padding: 10px;
    background: var(--main-theme-white);
  }

  .nav-link {
    flex-direction: row;
    justify-content: initial;
  }

  .nav-button-img-container {
    display: none;
  }

  .nav-button-img {
    display: none;
  }

  .mobile-nav-button-img {
    display: block;
  }

  .nav-button-text {
    text-align: center;
    margin-left: 10px;
    background: var(--main-theme-white);
    color: var(--main-theme-orange);
    font-size: 28px;
    border-radius: 8px;
  }
}