@import url(../../Base.css);

.nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.nav-button {
  padding: 0px 10px;
  text-align: center;
}

.nav-button-img {
  display: block;
  width: 240px;
}

.mobile-nav-button-img {
  display: none;
  width: 130px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--main-theme-orange);
  font-size: 30px;
}

@media (max-width: 950px) {
  .nav-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .nav-container {
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 30px;
  }

  .nav-link {
    flex-direction: row;
    justify-content: initial;
  }

  .nav-button-img {
    display: none;
  }

  .mobile-nav-button-img {
    display: block;
  }

  .nav-button-text {
    text-align: left;
    margin-left: 20px;
  }
}