@import url(../../Base.css);

.header-bar {
  background-color: var(--main-theme-blue);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--top-bar-height);
  width: 100%;
  position: fixed;
  font-size: 25px;
  padding: 0px 20px;
  top: 0;
  z-index: 99;
}

.title-bar {
  display: flex;
  align-items: center;
}

.content-title {
  padding-left: 30px;
}

.menu-button > svg {
  color: var(--main-theme-white);
  font-size: 50px;
  display: none;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-bar > a {
  text-decoration: solid underline transparent;
  text-underline-offset: 6px;
  color: var(--main-theme-light-gray);
  margin: 0px 10px;
  white-space: nowrap;
  transition: text-decoration 0.4s ease-in-out;
}

.nav-bar > a:hover {
  text-decoration-color: var(--main-theme-white);
}

.header-bar-cart-container {
  color: var(--main-theme-white);
  display: flex;
  align-items: center;
}

.header-bar-cart-button {
  background: none;
  color: var(--main-theme-white);
}

.header-bar-nav-container {
  display: flex;
}

.header-bar-tanager-logo > img {
  height: var(--top-bar-height);
  box-sizing: border-box;
  padding: 10px 30px 10px 0px;
}

.header-bar-title {
  color: var(--main-theme-white);
  margin: 0px;
  width: 200px;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-theme-white);
  padding: 30px 0px 60px;
  margin-top: calc(var(--top-bar-height) + var(--top-bar-padding-top) + var(--top-bar-padding-bottom));
}

.bottom-spacer {
  display: block;
  height: 60px;
}

@media (max-width: 1000px) {
  .header-bar {
    padding: 0px 20px;
  }

  .header-hr {
    display: none;
  }

  .header-bar-tanager-logo > img {
    padding: 10px 10px 10px 0px;
  }

  .nav-bar {
    flex-direction: column;
    display: none;
  }

  .nav-bar > a {
    margin: 0px;
  }

  .menu-expanded {
    display: flex;
    background: var(--main-theme-blue);
    border-top: solid 1px var(--main-theme-light-gray);
    padding-left: 30px;
    width: 100%;
    position: fixed;
    top: var(--top-bar-height);
    left: 0px;
  }

  .menu-button {
    display: flex;
    align-items: center;
  }

  .header-bar-cart-button {
    padding: 0px;
  }

  .menu-button > svg {
    display: inherit;
  }

  .menu-expanded > a {
    margin-bottom: 10px;
    width: 180px;
    padding: 10px 20px;
  }

  .header-bar {
    height: var(--mobile-top-bar-height);
    font-size: 15px;
  }

  .content {
    margin-top: var(--mobile-top-bar-height);
    padding: 30px 20px;
  }

  .content-title {
    font-size: 28px;
    padding-left: 16px;
  }

  .bottom-spacer {
    display: block;
    height: 20px;
  }
}
