@import url('../Base.css');

.activity-detail-link {
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.activity-detail-link > span {
  display: block;
  color: var(--main-theme-orange)
}