@import url(../Base.css);

.header-bar {
  background-color: var(--main-theme-blue);
  height: var(--top-bar-height);
  position: fixed;
  width: 100%;
  font-size: 25px;
  padding: 10px 50px;
  top: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.nav-bar > a {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--main-theme-light-gray);
  border: var(--main-theme-light-gray) solid 1px;
  margin: 0px 20px;
}

.header-bar-title {
  color: var(--main-theme-white);
  margin: 0px;
}

.header-hr {
  margin: 4px 0px 30px 0px;
}

.content {
  background-color: var(--main-theme-white);
  padding: 60px;
  margin-top: var(--top-bar-height);
}
