@import url(../Base.css);

.header-bar {
  background-color: var(--main-theme-blue);
  height: var(--top-bar-height);
  position: fixed;
  width: 100%;
  font-size: 25px;
  padding: 10px 50px;
  top: 0;
  display: flex;
  align-items: center;
}

.header-bar > a {
  padding: 0px 20px;
  text-decoration: none;
  color: var(--main-theme-white);
  border: var(--main-theme-white) solid 1px;
  padding: 10px;
  margin: 0px 20px;
}

.header-bar-heading {
  color: var(--main-theme-white);
  margin-top: 32px;
  margin-right: 50px;
}

.content {
  background-color: var(--main-theme-white);
  padding: 60px;
  margin-top: 40px;
  width: 100%;
}
