@import url('../../Base.css');

.sector-nav-button-container {
  display: flex;
  flex-wrap: wrap;
}

.sector-nav-button {
  padding: 10px;
  margin: 10px;
  background-color: var(--main-theme-orange);
  height: 70px;
  width: 340px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.sector-nav-button > p {
  color: var(--main-theme-white);
}

@media (max-width: 950px) {
  .sector-nav-button-container {
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
  }

  .sector-nav-button {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0px;
  }
}