@import url('../../Base.css');

.cart-side-bar {
  width: var(--cart-side-bar-width);
  position: fixed;
  right: 0px;
  top: var(--top-bar-height);
  bottom: var(--bottom-bar-height);
  background-color: white;
  transition: 0.4s ease-in-out;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.cart-side-bar.closed {
  transform: translate(var(--cart-side-bar-width));
  box-shadow: none;
}

.cart-side-bar-content {
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  overflow: scroll;
}

.cart-side-bar-back-button {
  background: none;
  padding: 0px;
  position: relative;
  left: -14px;
}

.cart-side-bar-item {
  display: flex;
  align-items: flex-start;
}

.cart-side-bar-remove-item-button {
  background: none;
}

.cart-side-bar-link {
  padding-right: 10px;
}

.cart-side-bar-text {
  font-size: 16px;
  margin-top: 0px;
}

.cart-side-bar-button-container {
  display: flex;
  justify-content: space-around;
}