@import url(./Base.css);

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--main-theme-blue);
}

.App-start-link {
  color: var(--main-theme-orange);
  font-size: 24px;
}

.App-h1 {
  color: var(--main-theme-white);
  max-width: 1300px;
}

.App-h2 {
  color: var(--main-theme-teal);
  padding: 0px 30px 10px;
}

.App-hr {
  background-color: var(--main-theme-orange);
  border: none;
  height: 10px;
  width: 100%;
  margin: 30px 0px 20px;
}

.App-logo-div {
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: 0px 60px;
}

.App-logo-div > img {
  max-width: 33%;
}

.App-link-spacer {
  margin: 15px;
}

@media (max-width: 950px) {
  .App-h1 {
    max-width: 700px;
    font-size: 20px;
  }

  .App-h2 {
    max-width: 700px;
    font-size: 16px;
  }

  .App-start-link {
    font-size: 14px;
  }

  .App-link-spacer {
    margin: 10px;
  }
}