@import url(./Base.css);

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 800px;
}

.App-start-link {
  color: var(--main-theme-orange);
  font-size: 24px;
}

.App-h1 {
  color: var(--main-theme-white);
  max-width: 1300px;
}

.App-h2 {
  color: var(--main-theme-teal);
  padding: 0px 30px;
}

.App-hr {
  background-color: var(--main-theme-orange);
  border: none;
  height: 10px;
  width: 100%;
  margin: 30px 0px 20px;
}

.App-logo-div {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  padding-left: 60px;
}

.App-logo-div > img {
  width: 200px;
}