:root {
  --main-theme-white: #ffffff;
  --main-theme-blue: #002e5d;
  --main-theme-orange: #fe8200;
  --main-theme-orange-hover: #ff9c33;
  --main-theme-teal: #2eccd3;
  --main-theme-dark-gray: #666666;
  --main-theme-gray: #918f8f;
  --main-theme-light-gray: #d7d7d7;
  --main-theme-very-light-gray: #eeeeee;
  --left-nav-width: 150px;
  --top-bar-height: 80px;
  --top-bar-padding-top: 10px;
  --top-bar-padding-bottom: 10px;
  --bottom-bar-height: 60px;
  --mobile-top-bar-height: 80px;
  --cart-side-bar-width: 300px;
  --main-content-max-width: 1200px;
}

h1 {
  color: var(--main-theme-blue);
  font-size: 48px;
  font-weight: normal;
  margin-top: 0px;
  box-sizing: border-box;
}

.h1-smaller {
  color: var(--main-theme-blue);
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
}

h2 {
  color: var(--main-theme-teal);
  font-size: 32px;
  font-weight: normal;
  margin-top: 0px;
}

h3 {
  color: var(--main-theme-dark-gray);
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
}

h4 {
  font-size: 22px;
  margin-bottom: 0px;
}

p, ul, ol {
  color: var(--main-theme-dark-gray);
  font-size: 20px;
}

a, a:visited, a:active {
  color: var(--main-theme-orange);
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.non-underlined-link {
  text-decoration: none;
}

.no-top-margin {
  margin-top: 0px;
}

.margin-10 {
  margin: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.padding-10 {
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin: 10px 0px;
}

th, td {
  padding: 10px;
}

thead {
  background-color: var(--main-theme-blue);
  color: var(--main-theme-white);
}

button {
  border: none;
}

button:enabled {
  cursor: pointer;
}

.simple-button {
  height: 24px;
  border-radius: 4px;
  border: 1px solid var(--main-theme-dark-gray);
  background: var(--main-theme-very-light-gray);
}

.simple-button:hover:enabled {
  background: var(--main-theme-light-gray);
}

.simple-button:active:enabled {
  background: var(--main-theme-dark-gray);
}

.nav-button-card {
  background-color: var(--main-theme-orange);
  border-radius: 5px;
  box-shadow: 0 2px 4px 0px rgb(0 0 0 / 26%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: 90px;
  margin: 10px;
  padding: 10px;
  width: 340px;
  transition: 0.4s ease-in-out;
}

.nav-button-card:hover {
  background-color: var(--main-theme-orange-hover);
  box-shadow: 0 2px 5px 2px rgb(0 0 0 / 26%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.nav-button-card > p {
  color: var(--main-theme-white);
}

.floating-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: calc(var(--top-bar-height) + 30px);
  right: 20px;
  height: 60px;
  width: 60px;
  background-color: var(--main-theme-dark-gray);
  color: var(--main-theme-white);
  border-radius: 50%;
}

.floating-button:hover {
  background-color: var(--main-theme-gray);
}

.floating-button:active {
  background-color: var(--main-theme-light-gray);
}

@media (max-width: 630px) {
  .floating-button {
    top: calc(var(--mobile-top-bar-height) + 30px);
  }
}

@media (max-width: 630px) {
  .nav-button-card {
    margin: 10px 0px;
  }
}