:root {
  --main-theme-white: #ffffff;
  --main-theme-blue: #002e5d;
  --main-theme-orange: #fe8200;
  --main-theme-teal: #2eccd3;
  --main-theme-gray: #666666;
  --main-theme-light-gray: #d7d7d7;
  --left-nav-width: 150px;
  --top-bar-height: 150px;
  --top-bar-padding-top: 10px;
  --top-bar-padding-bottom: 10px;
  --mobile-top-bar-height: 80px;
}

h1 {
  color: var(--main-theme-blue);
  font-size: 48px;
  font-weight: normal;
  margin-top: 0px;
  box-sizing: border-box;
}

.h1-smaller {
  color: var(--main-theme-blue);
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
}

h2 {
  color: var(--main-theme-teal);
  font-size: 32px;
  font-weight: normal;
  margin-top: 0px;
}

h3 {
  color: var(--main-theme-gray);
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
}

h4 {
  font-size: 22px;
  margin-bottom: 0px;
}

p, ul, ol {
  color: var(--main-theme-gray);
  font-size: 20px;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.non-underlined-link {
  text-decoration: none;
}

.margin-10 {
  margin: 10px;
}

.padding-10 {
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin: 10px 0px;
}

th, td {
  padding: 10px;
}

thead {
  background-color: var(--main-theme-blue);
  color: var(--main-theme-white);
}

button {
  border: none;
  cursor: pointer;
}
